image:
  repository: jsknnr/project-zomboid-server
  tag: latest

service:
  type: ClusterIP
  hostNetwork: "false"

resources:
  requests:
    memory: 8G
    cpu: 2.0

volumes:
  dataPVC:
    size: 50Gi
  configPVC:
    size: 50Gi
  storageClassName: "longhorn"

env:
  antiCheatType21: true
  adminPassword: changeme
  adminUsername: admin
  autosaveInterval: 15m
  backupsCount: 5
  backupsPeriod: 120
  betaBranch: ''
  gamePort: 16261
  hostIP: 0.0.0.0
  mapNames: Muldraugh, KY
  maxPlayers: 16
  maxRAM: 8096m
  modNames: ''
  modWorkshopIDs: ''
  pauseOnEmpty: true
  pingLimit: 400
  pvp: true
  public: true
  queryPort: 16262
  rconPassword: changeme
  rconPort: 27015
  serverIP: ''
  serverName: diestoomuch
  serverPassword: sendhelp
  steamVAC: true
